body{
    background: rgb(227,204,19);
background: radial-gradient(circle, rgba(227,204,19,0.3421962535014006) 28%, rgba(18,71,201,0.2889749649859944) 80%);

}

.root{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}

button{
    width: 150px;
    height: 70px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: large;
    background: linear-gradient(0deg, rgba(227,204,19,0.9472382703081232) 28%, rgba(18,71,201,0.8155856092436975) 80%);
}

ul{
    padding-top: 20px ;
}
  
li{
    padding-top: 10px;  
    font-size: large;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}
